@import './base.css';

a,
.green {
	text-decoration: none;
	color: hsla(160, 100%, 37%, 1);
	transition: 0.4s;
}

* {
	margin: 0;
	padding: 0;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1280px;
}

@media (hover: hover) {
	a:hover {
		background-color: hsla(160, 100%, 37%, 0.2);
	}
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
		place-content: center;
	}
}
